name: Build
permissions:
  contents: read
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: jdx/mise-action@v2
      - run: pnpm i
      - name: build
        run: pnpm run build:types
      - name: test
        id: test
        if: ${{ always() }}
        run: pnpm run test
      - name: lint
        if: ${{ always() }}
        run: pnpm run lint
      - name: style
        if: ${{ always() }}
        run: pnpm run format:check
  codecov: # Send only a single coverage report per run
    needs: [build]
    timeout-minutes: 15
    env:
      CI: true
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: jdx/mise-action@v2
      - run: pnpm i
      - name: test
        run: pnpm run test:coverage
      - name: codecov
        uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
